<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Wether Widget</title>
  </head>
  <body>
    <h1>Weather</h1>

    <h1>Temperature: <%= temperature %></h1>
    <h1>Location: <%= location %></h1>
  </body>
</html>
